g{% extends "layouts/layout.index.html" %}

{% block content %}


<body>
<div class="container-fluid">
    <div class="row bg-dark" id="top-footer">
        <div class="col-2 col-md-2 pt-2" style="color: #606060;font-size: 30px; font-weight: bold;">PAGEWIZ</div>
        <div class="offset-3 offset-md-3"></div>
        <div class="col-3 col-md-4 pt-3 text-white">Preview mode (Remove frame)</div>
        <div class="offset-3 offset-md-1"></div>
        <div id="close-tab" class="col-1 col-md-2 pl-2  pt-3 text-white"><a href="">Close X</a></div>
    </div>
    <div class="row">
        <div class="offset-xl-5 offset-md-5"></div>
        <img src="../assets/img/mamagologo.png" alt="" class="col-xl-2 col-md-2 pt-2">
        <div class="offset-xl-5 offset-md-5"></div>
    </div>
    <div class="row">
        <div class="offset-2"></div>
        <img src="../assets/img/mamagobig.png" class="col-4" alt="">
        <div class="col-2 col-md-3 align-self-center" id="text1">Imagine, that's all</div>
        <div class="offset-4 offset-md-3></div>
        </div>
        <div class="row" style="height: 90px;">
        <div class="offset-12"></div>
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="row" style="height: 50px ;">
        <div class="col-xl-12  text-center pt-3 text-white" id="text2">THE WORKS YOU CAN TRUST US</div>
    </div>
    <div class="row" style="">
        <div class="offset-xl-2 offset-lg-2 offset-md-2"></div>
        <img class="col-xl-8 col-lg-8 col-md-8" src="../assets/img/icons.png" alt="">
        <div class="offset-xl-2 offset-lg-2 offset-md-2"></div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="offset-xl-1 offset-lg-1 offset-md-1"></div>
        <img class="col-xl-1 col-lg-1 col-md-0 ml-xl-4 ml-lg-3  align-self-center d-xl-block d-lg-block d-md-none "  id="titleImages" src="../assets/img/icon2.png">
        <p class="col-xl-3 col-lg-3 col-md-3 align-self-center pt-5 text-lg-center text-md-center" style="font-size: 14.3px; font-weight: bold; color :#1F2441;">ADVANTAGES OF WORKING WITH US</p>
        <div class="offset-xl-1 offset-lg-1 offset-md-4"></div>
        <img class="col-xl-1 col-lg-1 col-md-0 ml-xl-3 ml-lg-2 align-self-center d-xl-block d-lg-block d-md-none"  id="titleImages" src="../assets/img/icon.png">
        <p class="col-xl-3 col-lg-3 col-md-3 align-self-center pt-5 text-md-center " id="titles">EXCLUSIVE OFFERS FOR YOU</p>
        <div class="offset-xl-2 offset-lg-2 offset-md-1"></div>
    </div>

    <div class="row mt-3 align-left">
        <div class="offset-xl-1 offset-lg-1 offset-md-0"></div>
        <p class="col-5 pr-5 pl-5 text-xl-left text-lg-left text-md-center" id="about">We are easily able to keep up with the changing World trends by our investigative team. Our self-confidence is based on references</p>
        <div class="offset-xl-0 offset-lg-0 offset-md-2"></div>
        <p class="col-5 pr-5 pl-5 ml-lg-4 ml-md-0 text-xl-left text-lg-left text-md-center " id="about">Apart from the old fashioned agency offers. we adapt your business by considering what you really need and prepare the best proposal.</p>
        <div class="offset-xl-1 offset-lg-1 offset-md-0"></div>
    </div>
    <div class="row mt-5">
        <div class="offset-xl-1 offset-lg-1 offset-md-1"></div>
        <img class="col-xl-1 col-lg-1 col-md-0 ml-xl-4 ml-lg-4 align-self-center d-xl-block d-lg-block d-md-none" id="titleImages" src="../assets/img/staricon.png">
        <p class="col-xl-3 col-lg-3 col-md-3 align-self-center pt-5 text-lg-center text-md-center " id="titles">YOUR TIME IS IMPORTANT FOR US</p>
        <div class="offset-xl-1 offset-lg-1 offset-md-4"></div>
        <img class="col-xl-1 col-lg-1 col-md-0 ml-xl-5 ml-lg-3 align-self-center d-xl-block d-lg-block d-md-none" id="titleImages" src="../assets/img/searchicon.png">
        <p class="col-xl-3 col-lg-3 col-md-3 align-self-center pt-5 ml-xl-0 ml-lg-0 ml-md-2" id="titles">BEING A FAMILY</p>
        <div class="offset-xl-2 offset-lg-1 offset-md-1"></div>
    </div>

    <div class="row mt-3 align-left">
        <div class="offset-xl-1 offset-lg-1 offset-md-0"></div>
        <p class="col-5 pr-5 pl-5 text-xl-left text-lg-left text-md-center " id="about">We are aware of the importance of speed and time for you. Therefore, we work hard and with a great dedication to get you the most appropriate deadline</p>
        <div class="offset-xl-0 offset-lg-0 offset-md-2"></div>
        <p class="col-5 pr-5 pl-xl-3 pl-lg-5 text-xl-left text-lg-left ml-xl-5 ml-lg-3  text-md-center" id="about">Even if your Project is over on our side, we never let you walk alone as your solution partner</p>
        <div class="offset-xl-1 offset-lg-1 offset-md-0 "></div>

        <div class="row" style="height: 50px">
            <div class="offset-12"></div>
        </div>

        <div class="row mt-5" style="height: 100px;">
            <div class="offset-xl-0 offset-lg-0 offset-md-2"></div>
            <div class="col-xl-12 col-lg-12 col-md-8 ml-xl-5 ">
                <img class="ml-xl-3" src="../assets/img/Başlıksız-1.jpg" id="bottomImages">
                <img src="../assets/img/Başlıksız-2.jpg" id="bottomImages">
                <img src="../assets/img/Başlıksız-3.jpg" id="bottomImages">
                <img class="ml-xl-3" src="../assets/img/Başlıksız-4.jpg" id="bottomImages">
                <img src="../assets/img/Başlıksız-5.jpg" id="bottomImages">
                <img src="../assets/img/Başlıksız-6.jpg" id="bottomImages">
                <img class="ml-xl-3" src="../assets/img/Başlıksız-7.jpg"id="bottomImages">
                <img src="../assets/img/Başlıksız-8.jpg" id="bottomImages">
            </div>
            <div class="offset-xl-0 offset-lg-0 offset-md-2"></div>
        </div>
        <div class="row ml-xl-5 ml-lg-4" style="height: 100px;">
            <div class="offset-xl-0 offset-lg-0 offset-md-2"></div>
            <div class="col-xl-12 col-lg-12 col-md-8 mt-xl-0 mt-lg-0 mt-md-5 ml-xl-5">
                <img class="ml-xl-3" src="../assets/img/Başlıksız-9.jpg" id="bottomImages">
                <img class="ml-xl-2" src="../assets/img/Başlıksız-10.jpg" id="bottomImages">
                <img class="ml-xl-2" src="../assets/img/Başlıksız-11.jpg" id="bottomImages">
                <img class="ml-xl-2" src="../assets/img/Başlıksız-12.jpg" id="bottomImages">
                <img class="ml-xl-2" src="../assets/img/Başlıksız-13.jpg" id="bottomImages">
                <img src="../assets/img/Başlıksız-14.jpg" id="bottomImages">
                <img class="ml-xl-3" src="../assets/img/Başlıksız-15.jpg" id="bottomImages">
                <img class="ml-xl-2" src="../assets/img/Başlıksız-16.jpg" id="bottomImages">
                <div class="offset-xl-0 offset-lg-0 offset-md-2"></div>
            </div>

        </div>
    </div>



    {% endblock %}
