{% extends "layouts/layout.index.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">

        <div class="offset-xl-5 offset-md-5">
        </div>
        <img class="col-xl-2 col-md-2 col-sm-2" src="../assets/img/mamagologo.png">
        <div class="offset-xl-5 offset-md-5"></div>

    </div>

    <div class="row">
        <div class="offset-xl-2 offset-md-2"></div>
        <img src="../assets/img/mamagobig.png" class="col-xl-4 col-md-4 ml-5 pt-5" alt="">
        <div class="col-xl-2 col-md-2 align-self-center" id="text1">Imagine, that's all</div>
        <div class="offset-xl-4 offset-md-4"></div>
    </div>

</div>

<div class="row" name="icons" style="background-color: grey;">
    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;" class="col-md-12"> THE WORKS YOU CAN TRUST US</div>

    <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>
    <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src="../assets/img/iconx.png"></div>
    <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src="../assets/img/iconx.png"></div>
    <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src="../assets/img/iconx.png"></div>
    <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src="../assets/img/iconx.png"></div>
    <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>

</div>
<div class="container">
    <br><br>



    <div class="row" name="about">

        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>

        <div class="col-sm-4">
            <img style="max-height: 80%; max-width:80%;" src="../assets/img/icon.png"> <strong>ADVENTAGES OF WORKING WITH US</strong><br><p>we are easily able to keep up with the changingworld trends by our investigative team. Our self-confidence is based on references</p>
        </div>


        <div class="col-sm-4">
            <img style="max-height: 80%; max-width:80%;" src="../assets/img/icon.png"> <strong>EXLUSIVE OFFERS FOR YOU</strong><br> <p>herkes merhabasafds hasjdkfsflvc lasfkşsdljgdfş alsşdjfdlkjg </p>
        </div>


        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>




        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>

        <div class="col-sm-4">
            <img style="max-height: 80%; max-width:80%;" src="../assets/img/searchicon.png"> <strong>ADVENTAGES OF WORKING WITH US</strong><br> <p>we are easily able to keep up with the changingworld trends by our investigative team. Our self-confidence is based on references</p>
        </div>


        <div class="col-sm-4">
            <img style="max-height: 80%; max-width:80%;" src="../assets/img/staricon.png"> <strong>EXLUSIVE OFFERS FOR YOU</strong><br> <p>herkes merhabasafds hasjdkfsflvc lasfkşsdljgdfş alsşdjfdlkjg </p>
        </div>


        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>


    </div>


    <br><br>

    <div class="row" name = "company">

        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>

        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img1.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img2.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img3.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img4.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img5.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img6.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img7.png"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img8.jpg"></div>

        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>


        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>

        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img9.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img10.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img11.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img12.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img13.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img14.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img15.jpg"></div>
        <div class="col-sm-1"><img style="max-height: 80%; max-width:80%;" src="../assets/img/client/img16.jpg"></div>

        <div class="col-sm-2"><img style="max-height: 80%; max-width:80%;" src=""></div>


    </div>

    <br><br>


</div>



{% endblock %}
